default:
    suites:
        application:
            contexts:
                - ClientContext:
                    - https://baseUrl # Base server URL
                    - v1              # API version
                    - username        # Username or Token
                    - password        # Password
                    - false           # Integration tests?
                    - false           # Record the requests for HTTP fixtures?
                - NamespaceContext
                - SecretContext
                - ServiceContext
                - JobContext
                - PodContext
                - PersistentVolumeContext

    gherkin:
        filters:
            tags: "~@wip"
